{% extends "layout.html" %}
{% block body %}
<p>This service is intended to be used as a way of sharing one-time
messages secretly. For example passwords and other sensitive data. I needed such
a service when resetting my Mom's email password. </p>

<p><b>Please note that this is mostly a proof of concept!</b></p>

<h4>Basic Idea</h4>

<p>Send the encryption key in the url hash.</p>

<p>
It works by encrypting the message in javascript using symmetric encryption. For this I use <a href="https://bitwiseshiftleft.github.io/sjcl/">SJCL</a>.
The message is then stored in memory on the server which creates a uuid as a reference. The client side script creates a
special url for you where the key is stored in the anchor part, which is by
default not <a href="http://joakim.uddholm.com/posts/url-secrets.html">sent to the server by the browser</a>. So the server never sees the encryption key.
</p>

<label for="example">Example url:</label>
<input type="text" name="example" value="http://domain.tld/[uuid]#encryptionkey" class="u-full-width" readonly/>

<p>
Upon receieving the request, the server returns the data referenced by the uuid.
The javascript takes the data and decrypts it using the encryptionkey taken from
the anchor.
</p>

<p>All of the code is opensource and available on <a href="https://github.com/Tethik/burn-after-reading">github</a>.
You are free to reuse as you wish under the MIT license. </p>

{% endblock %}
