{% extends "layout.html" %}
{% block body %}
<form ng-controller="CreateCtl">
  <input type="hidden" id="server_says_maxlength_is" value="{{maxlength}}">
  {% raw %}
  <div id="statusbox" ng-show="status" class="msg {{status}}">
    {{reason}}
  </div>


  <div id="step1" ng-show="step == 1">
    <label for="exampleMessage">Message ({{maxlength - message.length}} characters left)</label>
     <textarea class="u-full-width" id="thebox" placeholder="Hi Dave …" ng-model="message" maxlength="{{maxlength}}" required></textarea>

     <div class="row">
       <div class="one-half column">
           <label class="u-pull-left">
             <input type="checkbox" ng-model="generate_password">
             <span class="label-body">Create a password for me </span>
           </label>

           <label class="u-pull-left">
             &nbsp;
             <input type="checkbox" ng-model="anonymize_ip">
             <span class="label-body">Anonymize visitor log</span>
           </label>
       </div>

       <div class="one-half column right-align">
           <span class="label-body">Expire in:</span>
           <select name="expiry" ng-model="expiry">
             <option value="hour" selected>One hour</option>
             <option value="day">One day</option>
             <option value="week">One week</option>
           </select>
       </div>
     </div>

     <div ng-show="!generate_password">
       <label for="password">
         Password
       </label>
       <input type="text" name="password" placeholder="correcthorsebatterystaple" ng-model="user_password" class="u-full-width">
       <p>This password will be used to encrypt the message.</p>
     </div>

     <input class="button-primary" value="Submit" type="submit" ng-click="send(message)">
  </div>

   <div id="step2" ng-show="step == 2">
     <p>Your message has been encrypted and stored. Here is the url which you need to share the message:</p>     
     <input type="text" onclick="this.select();" name="url" ng-model="share_url" class="u-full-width" id="theurlbox" readonly>
     <button class="button-copy" ng-click="copy()">copy</button>
   </div>
   {% endraw %}
</form>
{% endblock %}
