{% extends "layout.html" %} {% block body %}
<form ng-controller="CreateCtl">
  <input type="hidden" id="server_says_maxlength_is" value="{{ maxlength }}" />
  {% raw %}
  <div id="statusbox" ng-show="status" class="msg {{ status }}">
    {{ reason }}
  </div>

  <div id="step1" ng-show="step == 1">
    <label for="message"
      >Message
      <span color="red" ng-show="file_bytes + used_bytes > maxlength">
        (⚠️ ({{ file_bytes + used_bytes }} / {{ maxlength }}))
      </span>
      <span ng-show="file_bytes + used_bytes <= maxlength">
        ({{ file_bytes + used_bytes }} / {{ maxlength }})
      </span>
    </label>
    <textarea class="u-full-width" id="thebox" name="message" placeholder="Hi Dave …" ng-model="message"></textarea>

    <div class="row">
      <div class="nine columns">
        <div class="row">
          <div class="five columns">
            <label>📎 Files (experimental)</label>
            <input
              class="u-full-width"
              id="files"
              type="file"
              onchange="angular.element(this).scope().check_filesize(this)"
              multiple
            />
          </div>

          <div class="three columns">
            <label>🕓 Expire after</label>
            <select name="expiry" ng-model="expiry">
              <option value="hour" selected>One hour</option>
              <option value="day">One day</option>
              <option value="week">One week</option>
            </select>
          </div>

          <div class="four columns">
            <div>
              <input type="checkbox" ng-model="anonymize_ip" />
              <span
                class="label-body"
                title="If ticked each visitor's IP address will be hashed before being saved in the database."
                >🕵️ Anonymize Visitors</span
              >
            </div>

            <div>
              <input type="checkbox" ng-model="burn_after_reading" />
              <span class="label-body" title="The message will be deleted by the server after the first read."
                >🔥 Burn After Reading</span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="three columns right-align">
        <button class="button-create" ng-click="send(message)">
          Create
        </button>
      </div>
    </div>
  </div>

  <div id="step2" ng-show="step == 2">
    <p>Please wait while your message is encrypted and sent to the server.</p>
  </div>

  <div id="step3" ng-show="step == 3">
    <p>
      Your message has been encrypted and stored. Here is the url which you need to share the message:
    </p>
    <input
      type="text"
      onclick="this.select();"
      name="url"
      ng-model="share_url"
      class="u-full-width"
      id="theurlbox"
      readonly
    />
    <button class="button-copy" ng-click="copy()">copy</button>
  </div>
  {% endraw %}
</form>
{% endblock %}
