{% extends "layout.html" %} {% block body %} {% raw %}
<form ng-controller="OpenCtl">
  <div ng-show="not_found">
      The message did not exist, or it has already been deleted. Sorry.
  </div>

  <div ng-show="meta.unique_visitors.length > 2" class="msg warning flash">
    Someone else may have accessed this message before you! Check the visitor
    log below.
  </div>

  <div id="statusbox" ng-show="status" class="msg {{ status }}">
    {{ reason }}
  </div>

  <div ng-show="decrypted_succesfully">
    <div ng-show="decrypted.message.length > 0">
      <label for="message">Message</label>
      <textarea
        class="u-full-width"
        id="thebox"
        name="message"
        rows="6"
        readonly
        >{{ decrypted.message }}</textarea
      >
    </div>

    <div ng-show="decrypted.files.length > 0">
      <b>Attachment Files</b>
      <div ng-repeat="file in decrypted.files track by $index">
        <a href="{{ file.data_url }}" download="{{ file.filename }}">{{
          file.filename
        }}</a>
      </div>
      <hr />
    </div>

    <div class="u-pull-right">
      <button class="button-copy" ng-click="copy()" ng-show="decrypted.message.length > 0">copy</button>
      <button class="button-burn" ng-click="burn()" ng-hide="burned">
        burn 🔥
      </button>
    </div>
    
    <div ng-hide="burned">
      Once you've read the message, press "burn" to delete it from the server.
      It will expire automatically
      <time datetime="{{ meta.expiry }}">{{ meta.expiry }}</time
      >.
    </div>
    <div class="u-cf"></div>
  </div>

  <div ng-show="burned">
    The message has been deleted from the server. After you leave this page the
    message will be gone forever, so make sure that you made your copy.
  </div>

  <div ng-hide="!meta.visitors || meta.burn_after_reading || not_found" class="visitor-box">
    <b>Visitors</b>
    <p>
      {{ meta.unique_visitors.length }} unique IP-address
      {{ meta.unique_visitors.length > 1 ? "es have" : "has" }} visited this
      page. The table below shows every visit that fetched the encrypted
      message. This means they knew the unique identifier, but it does not
      necessarily mean they had the password to decrypt the message.
    </p>
    <table class="u-full-width visitor-table">
      <thead>
        <tr>
          <td>Visitor</td>
          <td>Time</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="v in meta.visitors">
          <td>
            <div>
              {{ v.alias }}
            </div>
            <div class="identifier-text">
              {{ v.id }}
            </div>
          </td>
          <td>
            <time datetime="{{ v.time }}">{{ v.time }}</time>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
{% endraw %} {% endblock %}
