{% extends "layout.html" %}
{% block body %}
<form ng-controller="OpenCtl">
  {% if unique_visitors > 2 %}
    <div class="msg warning flash">
      Someone else may have accessed this message before you! Check the visitor log below.
    </div>
  {% endif %}
  {% raw %}
  <div id="statusbox" ng-show="status" class="msg {{status}}">
    {{reason}}
  </div>
  {% endraw %}

  <div>
    <input type="hidden" id="themessage" value="{{msg|e}}">
    <input type="hidden" id="expiry" value="{{expiry}}">
    <input type="hidden" id="burned" value="{{burn_after_reading}}">
    {% for file in files %}
    <input type="hidden" name="files" value="{{file}}">
    {% endfor %}

    <div ng-show="decrypted_succesfully">
      {% raw %}      
      
      <div ng-show="message.length > 0">
        <label for="message">Message</label>    
        <textarea class="u-full-width" id="thebox" name="message" rows="6" readonly>{{decrypted}}</textarea>
      </div>
      
      <div ng-show="decrypted_files.length > 0">
        <b>Attachment Files</b>
        <div ng-repeat="decrypted_file in decrypted_files track by $index">
          <a href="{{decrypted_file.data_url}}" download="{{decrypted_file.filename}}">{{decrypted_file.filename}}</a>
        </div>
        <hr />
      </div>
      
      <div class="u-pull-right">
        <button class="button-copy" ng-click="copy()">copy</button>
        <button class="button-burn" ng-click="burn()" ng-hide="burned">burn 🔥</button>
      </div>
      <div ng-hide="burned">
        Once you've read the message, press "burn" to delete it from the server. It will expire automatically {{expiry}}       
      </div>
      <div class="u-cf"></div>


      <div class="u-cf"></div>
      {% endraw %}
    </div>

    <div ng-hide="decrypted_succesfully" ng-hide="status">      
      <label for="password">Password</label>
      <input type="text" ng-model="password" placeholder="" name="password">
      <button ng-click="attempt_decrypt()">decrypt</button>      
    </div>

    <div ng-show="burned">
        The message has been deleted from the server. <span ng-show="burn_was_auto">The message was set to burn automatically after reading.</span>
        <b ng-show="!decrypted_succesfully">It is still available in this session, but you need to decrypt it first.</b> After you leave this page the message will be gone forever, so make sure that you made your copy.        
    </div>
  </div>

  {% if not burn_after_reading %}
  <div class="visitor_box">
    <b>Visitors</b>
    <p>{{unique_visitors}} unique IP-address{% if unique_visitors > 1 %}es have{% else %} has{% endif %} visited this page. The table below shows every visit that fetched the encrypted message.
      This means they knew the unique identifier, but it does not necessarily mean they had the password to decrypt.  {% if anonymous %} IP addresses are anonymized by use of a hash function. {% endif %}
     </p>
    <table class="u-full-width">
      <thead>
        <tr><td>Visitor</td><td>Time</td></tr>
      </thead>
      <tbody>
      {% for v in visitors %}
        <tr>
          <td>{{v[0]}}</td>
          <td><time datetime="{{v[1]}}">{{v[1]}}</time></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</form>
{% endblock %}
