[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
