body {
  background-color: #c75c5c;
}

header {
  text-align: center;
}

footer {
  text-align: right;
}

#main {
  margin-top: 35px;
}

#content {
    padding: 40px;
    border: 1px solid #95A5A6;
    background-color: #ECECEC;
    box-shadow: 4px 4px #95A5A6;
    margin-bottom: 50px;
}

.msg {
   background-color: #4183D7;
   border-radius: 5px;
   padding: 5px;
   /*animation: flash 0.5s;*/
   margin-bottom: 15px;
   padding-left: 10px;
}

.error {
  background-color: #c75c5c;
}

.button-burn {
  background-color: #C75C5C;
  color: #f5cf87;
}

.right-align {
  text-align: right;
}
