/* @import './base.css'; */
@import './skeleton.css';

/* Imported from old version */
body {
  background-color: #c75c5c;
}

#thebox {
  height: 125px;
}

@keyframes flash {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flash {
  animation: flash 0.5s;
}

.msg {
  background-color: #f5cf87;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.warning {
  background-color: #c75c5c;
}

.error {
  background-color: #c75c5c;
}

.button-burn {
  background-color: #c75c5c;
  color: #f5cf87;
}

.button-create,
.button-copy {
  background-color: #f5cf87;
  color: #c75c5c;
}

.button-create:hover,
.button-copy:hover {
  color: #c75c5c;
}

.right-align {
  text-align: right;
}

.visitor-box {
  margin-top: 25px;
}

.visitor-table {
  max-height: 500px;
  overflow: scroll;
}

.identifier-text {
  font-size: 6pt;
  color: grey;
}

a,
a:hover {
  color: #c75c5c;
}